*{
    margin: 0 auto;
}
body{
    background-color: rosybrown;
    color:white;
}
.center{
    text-align: center;
}
.fade{
    text-decoration-color: gold;
}

.center button{
    padding: 20px;
    font-size: 20px;
    background-color: goldenrod;
}
.image{
    background-image: url(../img/doggy.jpg);
    height: 500px;
    position: center;
    max-width: 600px;
    background-repeat: no-repeat;
}